@model Repository.Models.Artifact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artifact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfAdding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAdding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtifactId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
