@model Repository.Viewmodels.ArtifactsViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Artifacts", FormMethod.Post))
{
    <div class="center-container">
        <div class="column">
            <div class="search-label">
                @Html.LabelFor(model => model.ArtTypes)
            </div>
            @Html.ListBoxFor(model => model.SelectedProperties, Model.ArtTypes, new { size = 4 })
        </div>

        <div class="column">
            <div class="search-label">
                @Html.LabelFor(model => model.ProblemDomains)
            </div>
            @Html.ListBoxFor(model => model.SelectedProperties, Model.ProblemDomains, new { size = 4 })
        </div>

        <div class="column">
            <div class="search-label">
                @Html.LabelFor(model => model.Projects)
            </div>
            @Html.ListBoxFor(model => model.SelectedProperties, Model.Projects, new { size = 4 })
        </div>

        <div class="column">
            <div class="search-label">
                @Html.LabelFor(model => model.Ratings)
            </div>
            @Html.ListBoxFor(model => model.SelectedProperties, Model.Ratings, new { size = 4 })
        </div>
        @*@Html.ListBoxFor(model => model.SelectedProperties, Model.SubTasks, new { size = 4 })*@

        <div class="column">
            <div class="search-label">
                @Html.LabelFor(model => model.Tags)
            </div>
            @Html.ListBoxFor(model => model.SelectedProperties, Model.Tags, new { size = 4 })
        </div>
    </div>

    <div class="center-block">@Html.RadioButtonFor(model => model.isAllMatchesSelected, "AllMatches")<text>All matches</text></div>
    <div class="center-block">@Html.RadioButtonFor(model => model.isAllMatchesSelected, "AnyCategoryMatches")<text>Any category matches</text></div>

    <input type="submit" value="Search" />
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artifacts.FirstOrDefault().DateOfAdding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artifacts.FirstOrDefault().Version)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Artifacts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAdding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArtifactId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArtifactId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArtifactId })
            </td>
        </tr>
    }

</table>

<style>
    form {
        margin: 50px 0;
    }

    .center-container{
        display: block;
        width: 100%;
        height: 100px;
    }
    .column {
        float: left;
        display: inline-block;
        margin-right: 20px;
    }

        .column select {
            width: 130px;
        }

    .search-label {
        display: block;
    }
</style>