@model Repository.Viewmodels.ArtifactsViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Artifacts", FormMethod.Post))
{
    @Html.ListBoxFor(model => model.SelectedProperties, Model.ArtTypes, new { size = 4 })
    @Html.ListBoxFor(model => model.SelectedProperties, Model.ProblemDomains, new { size = 4 })
    @Html.ListBoxFor(model => model.SelectedProperties, Model.Projects, new { size = 4 })
    @Html.ListBoxFor(model => model.SelectedProperties, Model.Ratings, new { size = 4 })
    //@Html.ListBoxFor(model => model.SelectedProperties, Model.SubTasks, new { size = 4 })
    @Html.ListBoxFor(model => model.SelectedProperties, Model.Tags, new { size = 4 })

    <input type="submit" value="Sort" />
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artifacts.FirstOrDefault().DateOfAdding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artifacts.FirstOrDefault().Version)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Artifacts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAdding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArtifactId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArtifactId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArtifactId })
            </td>
        </tr>
    }

</table>
